USE [BarberBookingDb]
GO
/****** Object:  Table [dbo].[Barber]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[DateOfBirth] [date] NOT NULL,
	[ExperienceYears] [int] NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[RatingAvg] [float] NOT NULL,
	[RatingCount] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[BarberId] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[BookingStatus] [varchar](20) NOT NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetail]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[IsGuest] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Provider] [varchar](20) NOT NULL,
	[OrderCode] [bigint] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Currency] [varchar](10) NOT NULL,
	[PaymentMethod] [varchar](20) NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
	[CheckoutUrl] [nvarchar](500) NOT NULL,
	[TransactionId] [varchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PaidAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayOSWebhookLog]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayOSWebhookLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [bigint] NOT NULL,
	[Event] [varchar](50) NOT NULL,
	[RawData] [nvarchar](max) NOT NULL,
	[ReceivedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 1/6/2026 5:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarberId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Barber] ON 

INSERT [dbo].[Barber] ([Id], [FullName], [ImageUrl], [DateOfBirth], [ExperienceYears], [Phone], [Description], [RatingAvg], [RatingCount], [Status], [CreatedAt]) VALUES (1, N'Nguyễn Văn A', N'https://example.com/images/barber-a.jpg', CAST(N'1995-04-12' AS Date), 6, N'0909000001', N'Chuyên fade, undercut', 0, 0, N'Active', CAST(N'2026-01-06T15:53:42.540' AS DateTime))
INSERT [dbo].[Barber] ([Id], [FullName], [ImageUrl], [DateOfBirth], [ExperienceYears], [Phone], [Description], [RatingAvg], [RatingCount], [Status], [CreatedAt]) VALUES (2, N'Trần Minh B', N'https://example.com/images/barber-b.jpg', CAST(N'1992-09-20' AS Date), 9, N'0909000002', N'Chuyên tóc nam Hàn Quốc', 0, 0, N'Active', CAST(N'2026-01-06T15:53:42.540' AS DateTime))
INSERT [dbo].[Barber] ([Id], [FullName], [ImageUrl], [DateOfBirth], [ExperienceYears], [Phone], [Description], [RatingAvg], [RatingCount], [Status], [CreatedAt]) VALUES (3, N'Quân', N'https://en.wikipedia.org/wiki/Barber', CAST(N'2003-01-06' AS Date), 50, N'04787066732', N'Dep', 0, 0, N'Active', CAST(N'2026-01-06T10:34:11.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[Barber] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Id], [CustomerId], [BarberId], [TotalAmount], [BookingStatus], [PaymentStatus], [CreatedAt], [Note]) VALUES (1, 1, 1, CAST(100000.00 AS Decimal(12, 2)), N'Pending', N'Unpaid', CAST(N'2026-01-06T15:54:15.440' AS DateTime), N'Cắt gọn gàng')
INSERT [dbo].[Booking] ([Id], [CustomerId], [BarberId], [TotalAmount], [BookingStatus], [PaymentStatus], [CreatedAt], [Note]) VALUES (2, 2, 2, CAST(120000.00 AS Decimal(12, 2)), N'Pending', N'Unpaid', CAST(N'2026-01-06T15:54:15.440' AS DateTime), N'Tạo kiểu nhẹ')
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingDetail] ON 

INSERT [dbo].[BookingDetail] ([Id], [BookingId], [TimeSlotId], [Price], [Status]) VALUES (1, 1, 1, CAST(100000.00 AS Decimal(12, 2)), N'Pending')
INSERT [dbo].[BookingDetail] ([Id], [BookingId], [TimeSlotId], [Price], [Status]) VALUES (2, 2, 3, CAST(120000.00 AS Decimal(12, 2)), N'Pending')
SET IDENTITY_INSERT [dbo].[BookingDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FullName], [Phone], [Address], [Note], [IsGuest], [CreatedAt]) VALUES (1, N'Lê Quốc C', N'0911000001', N'Quận 1, TP.HCM', NULL, 1, CAST(N'2026-01-06T15:53:55.463' AS DateTime))
INSERT [dbo].[Customer] ([Id], [FullName], [Phone], [Address], [Note], [IsGuest], [CreatedAt]) VALUES (2, N'Phạm Anh D', N'0911000002', N'Quận 7, TP.HCM', NULL, 1, CAST(N'2026-01-06T15:53:55.463' AS DateTime))
INSERT [dbo].[Customer] ([Id], [FullName], [Phone], [Address], [Note], [IsGuest], [CreatedAt]) VALUES (3, N'Trương Minh Khải', N'0919891168', N'Vĩnh Long', N'string', 1, CAST(N'2026-01-06T17:10:52.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Id], [BookingId], [Provider], [OrderCode], [Amount], [Currency], [PaymentMethod], [PaymentStatus], [CheckoutUrl], [TransactionId], [CreatedAt], [PaidAt]) VALUES (1, 1, N'PayOS', 100001, CAST(100000.00 AS Decimal(12, 2)), N'VND', NULL, N'Pending', N'https://checkout.payos.vn/web/100001', NULL, CAST(N'2026-01-06T15:54:28.240' AS DateTime), NULL)
INSERT [dbo].[Payment] ([Id], [BookingId], [Provider], [OrderCode], [Amount], [Currency], [PaymentMethod], [PaymentStatus], [CheckoutUrl], [TransactionId], [CreatedAt], [PaidAt]) VALUES (2, 2, N'PayOS', 100002, CAST(120000.00 AS Decimal(12, 2)), N'VND', NULL, N'Pending', N'https://checkout.payos.vn/web/100002', NULL, CAST(N'2026-01-06T15:54:28.240' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PayOSWebhookLog] ON 

INSERT [dbo].[PayOSWebhookLog] ([Id], [OrderCode], [Event], [RawData], [ReceivedAt]) VALUES (1, 100001, N'payment.success', N'{"orderCode":100001,"status":"PAID"}', CAST(N'2026-01-06T15:54:35.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[PayOSWebhookLog] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([Id], [BarberId], [Date], [StartTime], [EndTime], [Status]) VALUES (1, 1, CAST(N'2026-01-10' AS Date), CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Available')
INSERT [dbo].[TimeSlot] ([Id], [BarberId], [Date], [StartTime], [EndTime], [Status]) VALUES (2, 1, CAST(N'2026-01-10' AS Date), CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Available')
INSERT [dbo].[TimeSlot] ([Id], [BarberId], [Date], [StartTime], [EndTime], [Status]) VALUES (3, 2, CAST(N'2026-01-10' AS Date), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), N'Available')
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Barber_Phone]    Script Date: 1/6/2026 5:37:34 PM ******/
ALTER TABLE [dbo].[Barber] ADD  CONSTRAINT [UQ_Barber_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Phone]    Script Date: 1/6/2026 5:37:34 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ_Customer_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Payment_OrderCode]    Script Date: 1/6/2026 5:37:34 PM ******/
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [UQ_Payment_OrderCode] UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Barber] ADD  DEFAULT ((0)) FOR [RatingAvg]
GO
ALTER TABLE [dbo].[Barber] ADD  DEFAULT ((0)) FOR [RatingCount]
GO
ALTER TABLE [dbo].[Barber] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((1)) FOR [IsGuest]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PayOSWebhookLog] ADD  DEFAULT (getdate()) FOR [ReceivedAt]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Barber] FOREIGN KEY([BarberId])
REFERENCES [dbo].[Barber] ([Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Barber]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetail_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([Id])
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK_BookingDetail_Booking]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetail_TimeSlot] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlot] ([Id])
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK_BookingDetail_TimeSlot]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_Barber] FOREIGN KEY([BarberId])
REFERENCES [dbo].[Barber] ([Id])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_Barber]
GO
ALTER TABLE [dbo].[Barber]  WITH CHECK ADD  CONSTRAINT [CK_Barber_Status] CHECK  (([Status]='Off' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Barber] CHECK CONSTRAINT [CK_Barber_Status]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_PaymentStatus] CHECK  (([PaymentStatus]='Refunded' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Unpaid'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_PaymentStatus]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Status] CHECK  (([BookingStatus]='Cancelled' OR [BookingStatus]='Completed' OR [BookingStatus]='Confirmed' OR [BookingStatus]='Pending'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK_Booking_Status]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [CK_BookingDetail_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [CK_BookingDetail_Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Status] CHECK  (([PaymentStatus]='Failed' OR [PaymentStatus]='Cancelled' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Status]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlot_Status] CHECK  (([Status]='Locked' OR [Status]='Booked' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [CK_TimeSlot_Status]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlot_Time] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [CK_TimeSlot_Time]
GO
